*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #f4f4f4;
    background-image: linear-gradient(to right, rgb(231, 91, 226), aqua);    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

p{
    margin-top: 10px;
    font-size: medium;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
